@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}

body {
    background-color: var(--Light-pink);
}

.background-pattern {
    height: 30vh;
    background-image: url("/assets/images/background-pattern-desktop.svg");
    background-size: cover;
}

@media screen and (max-width: 760px) {
    .background-pattern {
        background-image: url("/assets/images/background-pattern-mobile.svg");
        background-size: cover;
    }
    
}